In [8]:
# Multiplication table (from 1 to 10) in Python

num = 10

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [7]:
# Sum of natural numbers up to num

num = 20

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 210

In [1]:
print("Half Pyramid Pattern of Stars (*):")
for i in range(5):
    for j in range(i+1):
        print("* ", end="")
    print()

Half Pyramid Pattern of Stars (*):
*
* *
* * *
* * * *
* * * * *

In [2]:
print("Inverted Half Pyramid of Stars (*):")
for i in range(5):
    for j in range(i, 5):
        print("* ", end="")
    print()

Inverted Half Pyramid of Stars (*):
* * * * *
* * * *
* * *
* *
*

In [3]:
print("Full Pyramid Pattern of Stars (*): ")
for i in range(5):
    for s in range(-6, -i):
        print(" ", end="")
    for j in range(i+1):
        print("* ", end="")
    print()

Full Pyramid Pattern of Stars (*):
      *
     * *
    * * *
   * * * *
  * * * * *

In [4]:
print("Inverted Full Pyramid of Stars (*): ")
for i in range(5):
    for s in range(i):
        print(" ", end="")
    for j in range(i, 5):
        print("* ", end="")
    print()

Inverted Full Pyramid of Stars (*):
* * * * *
 * * * *
  * * *
   * *
    *

In [5]:
print("Enter Number of Rows: ")
row = int(input())
print("Star Pyramid of " + str(row) + " Rows or Lines: ")
for i in range(row):
    for s in range(row, i, -1):
        print(end=" ")
    for j in range(i+1):
        print(end="* ")
    print()

Enter Number of Rows:
10
Star Pyramid of 10 Rows or Lines:
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [6]:
print("Pattern of Stars (*): ")
k = 1
for i in range(5):
    for j in range(k):
        print("* ", end="")
    k = k + 2
    print()

Pattern of Stars (*):
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *